/***********************************/
/**      Custom ModCh.at CSS      **/
/**    	      By Matts		  **/
/**      w/(@StolkieBiz) CSS      **/
/***********************************/

ul {-webkit-padding-start: 0px} /* Specific to Chrome */
img.emote {max-height: 1.8em !important}
.chat-line-wrapper img.chat-line-badge {
    padding-right: 3px;
}
.chat-wrapper {
    font-size: 12.3px; font-family: 'Segoe UI'
}
.chat-paused-indicator {
	left: 13px !important;
	bottom: 11px !important;
	background-color: rgb(6, 39, 113) !important;
	width: 94% !important;
	padding: 1px !important;
	font-size: 11px !important;
}
body.theme-dark .chat-container, .chat-container {
    background-color: #000 !important
}
body.theme-dark .chat-line-wrapper .chat-line-time, .chat-line-wrapper .chat-line-time { 
    color: #898395 !important;
}
/* Chat box improvements - Needs all three */
body.theme-dark .chat-input-box, .chat-input-box {
    border-top: solid 1px gray !important;
    padding: 10px !important;
}
body.theme-dark .chat-wrapper .emote-menu-button, .chat-wrapper .emote-menu-button { 
    bottom: 22px !important;
    right: 0 !important;
}
body.theme-dark .chat-input-box textarea, .chat-input-box textarea { 
    border: solid 1px gray;
    background-color: #000 !important;
}

/***********************************/
/**        Stolkie's stuff        **/
/***********************************/
.chat-line:nth-of-type(even) {
	background-color: #232121 !important;
	border-bottom: solid 1px #3a3a3a !important;
}
.chat-line:nth-of-type(odd) {
	background-color: #111111 !important;
	border-bottom: solid 1px #383838 !important;
}